table{
  border: 1px solid black;
  border-collapse: collapse;
  /* margin: 0 auto; */
}

/* tr{
  border: 1px solid black;
} */

th, td{
  border: 1px solid black;
  padding: 3px 5px;
  text-align: center;
}

caption{
  caption-side: top;
}

.firstCol{
  background-color: aqua;
  font-weight: bold;
  color: red;
}
.secondCol{
  background-color: rgb(130, 78, 150);
}
.thirdToFifthCol{}
.sixthCol{}

[colspan='5']{
  background-color: aqua;
  font-weight: bold;
  color: red;
}

.kazkokiaKlase{}
[class="kazkokiaKlase"]{}

li:hover{
  background-color: black;
  color: white;
}
a:link{
  color: orange;
}
a:visited{
  color: purple;
}
a:hover{
  color: green;
}
a:active{
  color: red;
}

td:first-child{
  font-weight: bold;
}
p:only-child{
  font-size: 3px;
}
p:only-of-type{
  background-color: brown;
}

/* .sarasas > li:nth-child(5){ */
/* .sarasas > li:nth-child(2n){ */
.sarasas > li:nth-child(2n+5){
  background-color: #689ed5;
}