.boxModelPvz{
  /* display: inline-block; */
  /* border: 1px solid black; */
  width: 150px;
  background-color: aquamarine;

  /* Padding */
  /* padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 50px; */
  /* padding: 10px; */
  /* padding: 10px 30px 5px 50px; */
  /* padding: 10px 30px 5px; */
  padding: 10px 30px;

  /* Margin */
  /* margin: 30px; */
  margin: 0 auto;

  /* Border */
  /* border-right: 5px dotted orange; */
  /* border-top-width: 3px;
  border-right-width: 3px; */
  border-radius: 10px;
}

/* Positions */
.positionsContainer{
  width: 800px;
  height: 300px;
  border: 1px solid black;
}
.kvadratas{
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 5px dashed orange;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}

.static{
  position: static;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.sticky{
  position: sticky;
}

.top{
  top: 20px;
}
.right{
  right: 50px;
}
.bottom{
  bottom: 10px;
}
.left{
  left: 100px;
}

.z5{
  z-index: 5;
}
.z10{
  z-index: 10;
}

/* Selectors */
p.klase{}
p.klase1.klase2{}

div.container h2{}
div.container > h2{}