body{
  margin: 0;
  height: 500vh;
}

.gridContainerPvz{
  margin: 0 auto;
  width: 80%;
  height: 500px;
  border: 3px dashed black;

  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(8, 1fr); */
  /* grid-template-columns: 1fr 100px 1fr 100px 1fr 100px 1fr 100px; */
  /* grid-template-columns: repeat(4, 1fr 100px); */
  grid-template-columns: 1fr 2fr 2fr 3fr 1fr;
  grid-template-rows: 25% 2fr 3fr 100px;
  /* grid-template-columns: 100px 200px 200px 50px 100px;
  grid-auto-rows: 100px; */
  gap: 5px;
  /* place-items: center; */
  grid-auto-flow: column;
}

.gridContainerPvz > div{
  border: 3px solid rgb(188, 7, 7);
  background-color: #679e6c;
  font-size: 24px;
  /* width: 100px;
  height: 100px; */
  display: grid;
  place-items: center;
}

.gridContainerPvz > div:nth-child(1){
  /* grid-row-start: 4;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-column-end: 3; */
  
  /* grid-row: 4 / 5;
  grid-column: 2 / 3; */
  
  /* grid-area: 4 / 2 / 5 / 3; */
  /* grid-area: -2 / 2 / -1 / 3; */
  /* grid-area: 4 / 2 / span 1 / span 1; */
  
  grid-row-start: 4;
  grid-column-start: 2;
  /* grid-row-end: 5; */
  /* grid-column-end: 3; */
}
.gridContainerPvz > div:nth-child(5){
  grid-area: 2 / 3 / 4 / 6;
}
.gridContainerPvz > div:nth-child(5):hover{
  z-index: 1;
}
.gridContainerPvz > div:nth-child(11){
  grid-area: 4 / 2 / 5 / 3;
}
.gridContainerPvz > div:nth-child(11):hover{
  grid-area: 4 / 3 / 5 / 4;
}
.gridContainerPvz > div:nth-child(8){
  grid-area: 3 / 4 / 5 / 5;
}

.gridStyles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-flow: column; */
}