/* Fonai */
.fonoDydis {
  height: 500px;
}
.vienspalvisFonas {
  background-color: rgb(165, 221, 175);
}
.gradientoFonas {
  background-image: linear-gradient(
    to bottom right,
    rgba(218, 139, 139, 0.918),
    #e4e4b2,
    hsl(120, 5%, 4%)
  );
}
.fonoPaveiksliukas1{
  background-image: url("./media/nature3.jpg");
  background-size: cover;
  background-position: center top;
}
.fonasFiksuotas{
  background-image: url("./media/nature9.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.fonoPaveiksliukas2{
  background-image: url("./media/nature5.jpg");
}

/* Prioritetai */
.prioritetai{
  color: green;
}
#tekstasGeltonas{
  color: yellow;
}
.tekstasVioletinis{
  color: #80006b;
}
p{
  color: orange !important;
}
p{
  color: blue;
}
.svarbu{
  font-size: 30px;
  font-weight: bold;
}