*{
  box-sizing: border-box;
}
body{
  margin: 0;
}

/* CAO 13 task*/
/* Grid */
.gridContainer_CAO_13{
  /* width: 100%; */
  height: 300px;

  display: grid;
  grid-template: 1fr 1fr / repeat(4, 1fr);
  gap: 10px;
}
.gridContainer_CAO_13 > div{
  background-color: orangered;
  color: white;

  display: grid;
  place-items: center;
}
.gridContainer_CAO_13 > div:nth-child(1){
  /* grid-area: span 2 / span 2; */
  grid-area: 1 / 1 / 3 / 3;
}
.gridContainer_CAO_13 > div:nth-child(2){
  /* grid-column: span 2; */
  grid-area: 1 / 3 / 2 / 5;
}
/* Flex */
.flexContainer_CAO_13{
  width: 100%;
  height: 300px;

  display: flex;
  gap: 10px;
}
.container1, .container234{
  width: 100%;
  /* height: 100%; */
}
.container234{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container2, .container34{
  /* width: 100%; */
  height: 100%;
}
.container34{
  display: flex;
  gap: 10px;
}
.container3, .container4{
  width: 100%;
  /* height: 100%; */
}
.container1, .container2, .container3, .container4{
  background-color: aqua;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Grid ir Flex TASK (po 20) */
/* Grid */
.all_20_GridContainer{
  /* width: 100%; */
  height: 1000px;

  display: grid;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  gap: 15px;
}
.all_20_GridContainer > div{
  border: 1px solid black;
}
/* 14 */
.grid_14{
  /* width: 100%;
  height: 100%; */

  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  gap: 5px;
}
.grid_14 > div{
  background-color: aquamarine;
}
.grid_14 > div:nth-child(3){
  grid-area: 2 / 1 / 4 / 3;
}
.grid_14 > div:nth-child(4){
  grid-area: 1 / 3 / 4 / 4;
}
.grid_14 > div:nth-child(8){
  grid-area: 4 / 1 / 7 / 2;
}
.grid_14 > div:nth-child(12){
  grid-area: 4 / 3 / 7 / 5;
}

/* Flex */
.all_20_FlexContainer{
  /* width: 100%; */
  height: 1000px;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.all_20_FlexContainer > div{
  border: 1px solid black;
  /* width: 19%;
  height: 23%; */
  flex: 1 19%;
}
/* 4 */
.flex_4{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.flex_4_container123, .flex_4_container9_10_11{
  display: flex;
  gap: 5px;
  flex: 1 24%;
}
.flex_4_1, .flex_4_3, .flex_4_9, .flex_4_11{
  flex: 2 39%;
  background-color: aquamarine;
}
.flex_4_2, .flex_4_10{
  flex: 1 19%;
  background-color: aquamarine;
}
.flex_4_container45678{
  flex: 2 48%;
  display: flex;
  gap: 5px;
}
.flex_4_container45, .flex_4_container78{
  flex: 1 19%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.flex_4_4, .flex_4_5, .flex_4_7, .flex_4_8{
  background-color: aquamarine;
  flex: 1 49%;
}
.flex_4_6{
  flex: 3 57%;
  background-color: aquamarine;
}