body{
  background-color: antiquewhite;
}
p{
  color: green;
}
h1, h2, h3{
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}
/* h1{
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}
h2{
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
} */

.testKlase{
  text-decoration: line-through;
}
.fonoSpalva{
  background-color: #a6b9d3;
}

#testID{
  border: 3px solid black;
}
#didziulisTekstas{
  font-size: 50px;
}

.bendraDisplayKlase{
  border: 2px solid black;
  background-color: #a6b9d3;
  width: 300px;
  height: 100px;
}
.inline{
  display: inline;
}
.block{
  display: block;
  text-align: center;
  line-height: 100px;
}
.inlineBlock{
  display: inline-block;
  text-align: center;
  line-height: 100px;
}

/* Namų darbai */

.inline_block{
  display: inline-block;
}
.veliava{
  width: 510px;
  height: 300px;
}
.horizontalusPilnas{
  width: 510px;
  height: 100px;
}
.vertikalusPilnas{
  width: 170px;
  height: 300px;
}
.floatLeft{
  float: left;
}
.noFontSize{
  font-size: 0;
  /* white-space-collapse: collapse; */
}
.mediumText{
  font-size: 16px;
}
.geltona{
  background-color: yellow;
}
.zalia{
  background-color: green;
}
.raudona{
  background-color: red;
}
.balta{
  background-color: white;
}